// 路由动画一
.fade-right-enter-active,
.fade-right-leave-active {
  transition: all 0.7s;
}

.fade-right-enter-from {
  opacity: 0;
  transform: translateX(-35px);
}
.fade-right-leave-to {
  opacity: 0;
  transform: translateX(35px);
  display: none;
}

// 路由动画二
.fade-left-enter-active,
.fade-left-leave-active {
  transition: all 0.7s;
}

.fade-left-enter-from {
  opacity: 0;
  transform: translateX(35px);
}
.fade-left-leave-to {
  opacity: 0;
  transform: translateX(-35px);
  display: none;
}
